<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]='forgot' (ngSubmit)="submit()">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="pat@example.com" formControlName="email" required>
            </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="enter password" formControlName="pass" required>
        </mat-form-field>
        <button type="submit" [disabled]="!forgot.valid" mat-button>CHANGE PASSWORD</button><br>
  </form>
    </mat-card-content>
  </mat-card>
