<footer class="footer">
    <div class="columns is-multiline content has-text-centered">
      <div class="column is-4" >
        <p style="font-size: 50px; margin-top: 50px">Angular8.0</p>
      </div>
      <div class="column is-4" >
        <p>ABOUT</p>
        <p>CONTACT</p>
        <p>CORE</p>
        <p>SOURCE</p>
      </div>
      <div class="column is-4" >
        <p>DOCUMENT</p>
        <p>DEVELOPERS</p>
        <p>TERMS</p>
        <p>PRIVACY</p>
      </div>
    </div>
  <hr>
</footer>
