
<div class="navbar is-white">
  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/anglogo.png">
    </a>
    </div>

    <!-- menu -->
    <div>
    </div>
    <!-- {{ user | json }} -->
    <div class="navbar-menu">
      <div class="navbar-end">
        <h2 class="role" *ngIf="isLogin">{{ user[0].email }} {{ "(" + this.role + ")"  }} &nbsp;</h2>
        <!-- <button mat-icon-button routerLink='/players'><mat-icon><span class="material-icons-outlined">sports_cricket</span></mat-icon></button> -->
        <button routerLink='/forms/login' [disabled]="!isLogin"><a>login</a></button>
        <button routerLink='/home' (click)="logout()" [disabled]="!isLogin"><a>logout</a></button>
      </div>
    </div>
  </div>





