
<p>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>First Angular Website</span>
      <span class="example-spacer"></span>
      <button mat-icon-button routerLink='forms/login'><mat-icon><span class="material-icons-outlined">account_circle</span></mat-icon></button>
      <button mat-icon-button routerLink='home'><mat-icon><span class="material-icons-outlined">home</span></mat-icon></button>
    </mat-toolbar>
  </p>


  