@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;900&family=Open+Sans+Condensed:ital,wght@1,300&family=Open+Sans:wght@300&family=Roboto:wght@300&family=Shrikhand&display=swap');
.example-spacer {
    flex: 1 1 auto;
}
mat-toolbar{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: 0.3px solid rgb(0, 176, 64);
    margin-top: 10px;
    margin-bottom: 10px;
}
hr{
    border: 0.3 ps solid rgb(227, 227, 227);
}
#title{
    background-color: rgb(0, 176, 64);
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
    border: 0.3px solid rgb(0, 176, 64);
    border-radius: 30px;
    padding: 0px 5px 0px 5px;
}
.material-icons-outlined{
    background-color: transparent;
    color: rgb(0, 199, 90);
    border: none;
}

