
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Lato:wght@300&family=Roboto+Condensed:wght@300&display=swap');




table {
  width: 90%;
  margin: auto;
  font-family: 'Roboto Condensed', sans-serif;
}
.btn-edit {
  text-align: right;
  font-family: 'Roboto Condensed', sans-serif;
}
h2 {
  text-align: center;
  padding-top: 20px;
}

.table-header {
  width: 90%;
  margin: auto;
  text-align: right;
  margin-bottom: 10px;
}

.button-add-row {
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 0em;
}

.button-remove-rows {
  background: rgb(72, 72, 72);
  color: #ffffff;
  margin-right: 5px;
  border-radius: 0em;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.button-remove {
  color: red;
  margin-right: 1em;
  border-radius: 0em;
  font-family: 'Lato', sans-serif;
}
.button-edit{
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 0em;
}
mat-card-title{
  font-family: 'Lato', sans-serif;
  margin-left: 3em;
}
mat-card{
  margin-top: 4em;
  font-family: 'Lato', sans-serif;
}
