<app-dashnav></app-dashnav>

<mat-card >
  <mat-card-title>User Dashboard</mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-actions>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>View Users</mat-card-title>
      </mat-card-header>

      <mat-card-content>

      </mat-card-content>

      <mat-card-actions>
        <button routerLink='/userstable'><a>PROCEED</a></button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Display Profile</mat-card-title>
      </mat-card-header>

      <mat-card-content>

      </mat-card-content>

      <mat-card-actions>
        <button routerLink='/home'><a>PROCEED</a></button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>IPL info</mat-card-title>
      </mat-card-header>

      <mat-card-content>

      </mat-card-content>

      <mat-card-actions>
        <button routerLink='/players'><a>PROCEED</a></button>
      </mat-card-actions>
    </mat-card>






  </mat-card-actions>
</mat-card>


