.container{
  background-image: url("/assets/offce.jpg");
  height: 80vh;
  /* background-size:cover; */
  background-position:center;
  object-fit: fill;
  box-shadow: 0 4px 10px 0 #e0e0e0;
}

h1{
    position: absolute;
    top: 300px;
    left:950px;
    /* transform:translateY(-20%); */
    text-decoration:underline;
    font-size: 130px;
    color: #ffff;
    font-style: italic;
}
span{
    background-color: rgb(0, 0, 0);
    color: #ffff;
}