.hero {
  background-image: url('/assets/king.png') !important;
  background-size:cover;
  background-position: center center;
  margin-top: 10px;
}
p{
  font-size: 100px;
  margin-bottom: 0px;
}
span{
  color: rgb(209, 59, 59);
}
small{
  margin-top: 10px;
}
