
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:wght@700;900&family=Open+Sans+Condensed:ital,wght@1,300&family=Open+Sans:wght@300&family=Roboto:wght@300&family=Shrikhand&display=swap');
.role{
  font-family: 'Lato', sans-serif;
}
.navbar{
  box-shadow: 0 3px 20px 0 #b5b3b3;
}
button{
  border: none;
  margin: 0em 1em 0em 0em;
  width: 6em;
  height: 2em;
  margin-top: 1em;
  box-shadow: 0 3px 5px 0 #a2a2a2;
  background-color: rgb(255, 44, 101);
  color: #fff;
}
h2{
  margin-top: 9px;
}
a{
  color: #fff;
}
mat-card{
  overflow: hidden;
  margin-top: 4em;
}
.example-card {
  width: 30%;
  float: left;
  margin: 0em 1em 0em 1em;
}
